@import 'fonts.styl'
@import 'blocks/header.styl'
@import 'blocks/problems.styl'
@import 'blocks/services.styl'
@import 'blocks/result.styl'
@import 'blocks/works.styl'
@import 'blocks/testimonials.styl'
@import 'blocks/clients.styl'
@import 'blocks/footer.styl'

body
  font-family 'Fira Sans', sans-serif
  color #8D8D8D
  font-size 18px

h1, h2, h3, h4, h5, h6
  font-style normal
  font-weight 700
  color #151515
  margin 0
  padding 0

a
  text-decoration none
  &:hover
    text-decoration none  //пребивка bootstrap стилей
  
h2
  font-size 40px

ul, li
  display block
  padding 0
  margin 0

#search
  border 1px solid #888888
  width 250px
  float right

.owl
  &-theme .owl-nav
    text-align left
    margin-top 50px
  &-prev, &-next
    margin 0 !important
    & img
      vertical-align middle
  &-prev
    margin-right 25px !important
  &-carousel
    &__play
      display block
      background url('../img/header/header__icon-play.svg')
      width 65px
      height 65px
      position absolute
      left 50%
      top 50%
      margin-left -32px
      margin-top -32px
      cursor pointer

.main-wrapper
  max-width 1360px
  margin: auto
  position relative

.be-static
  position static

.video-effect
  &:before
    transition all 0.3s ease
    content ''
    left 0
    top 0
    position absolute
    width 100%
    height 100%
  &:hover
    &:before
      transition all 0.3s ease
      background rgba(0, 0, 0, 0.5)

.label
  text-transform uppercase
  font-size 14px
  letter-spacing 0.25em
  color #8F8F8F
  margin-bottom 40px
  font-weight 500

a.btn
  height 50px
  background #4737FF
  color #ffffff
  text-transform uppercase
  font-weight 500
  font-size 14px
  padding 13px 26px
  border none
  border-radius 0
  display inline-block
  letter-spacing 0.3em
  line-height 1.8
  text-align center
  transition all 0.4s ease
  position relative
  overflow hidden
  &:before,&:after
    content ''
    position absolute
    transition all 0.4s ease
  &:before
    top 0
    left 0
    right -50px
    border-right 50px solid transparent
    border-bottom: 50px solid rgba(254, 254, 254, 0.2)
    transform translateX(-100%)
  &:after
    top 0
    right 0
    left -50px
    border-left 50px solid transparent
    border-top 50px solid rgba(254, 254, 254, 0.2)
    transform translateX(100%)
  &:hover
    color: white
    &:before
      transform translateX(-50%)
    &:after
      transform translateX(50%)

@media (max-width 767px)
  a.btn
    height 43px
    font-size 12px
    line-height 1.5
  .label
    margin-bottom 25px

@media (max-width 575px)
  .label
    font-size 12px