.problems
  padding-top 137px
  &__poster
    width 100%

.about
  &__title
    margin-bottom 30px
    letter-spacing: -1px
  &__author
    background url('../img/problems/problems__author.jpg') no-repeat left center
    padding 7px 0 7px 96px
    margin-top 61px
  &__name
    font-size 22px
  &__office
    margin-bottom 0

@media (max-width 1199px)
  .about
    &__title
      font-size 38px
    &__author
      margin-top 41px

@media (max-width 991px)
  .problems
    padding-top 100px
  .about
    &__title
      font-size 34px
      margin-bottom 15px
    &__text
      font-size 16px
      text-align justify

@media (max-width 767px)
  .problems
    &__about
      margin-top 60px
    &__poster
      width 76%
      margin-left 12%
  .about
    &__title
      font-size 30px
      margin-bottom 30px

@media (max-width 575px)
  .problems
    padding-top 70px
    &__about
      margin-top 40px
  .author
    &__name
      font-size 20px
    &__office
      font-size 16px
  .about
    &__title
      font-size 28px


