.result
  padding-top 181px
  &__easy
    margin-left 65px
  &__picture-wrap
    width 50%
    height 540px
    background url('../img/result/result__picture-bg.jpg') no-repeat left top
    background-size 80% 75%
    position absolute
    left 0
  &__picture-img
      display block
      width 350px
      height 453px
      position absolute
      right 0
      bottom 0
      box-shadow 30px 80px 180px rgba(0, 0, 0, 0.25)

.easy
  padding-top 30px
  &__title
    margin-bottom 30px
  &__text
    margin-bottom 52px
  &__point
    padding-left 83px
    text-transform uppercase
    letter-spacing 0.3em
    color #000000
    font-weight 600
    font-size 14px
    padding-top 20px
    padding-bottom 20px
    margin-bottom 25px
    &-first
      background url('../img/result/result__icon-100.svg') no-repeat left center
    &-second
      background url('../img/result/result__icon-bg.svg') no-repeat left center


@media (max-width 1199px)
  .result
    padding-top 161px
  .easy
    &__title
      font-size 38px

@media (max-width 991px)
  .result
    padding-top 121px
  .easy
    &__title
      font-size 34px
    &__text
      font-size 16px

@media (max-width 767px)
  .result
    padding-top 90px
    &__picture-wrap
      position relative
      width 100%
    &__easy
      margin-left 0
      margin-top 60px
  .easy
    &__title
      font-size 30px

@media (max-width 575px)
  .result
    &__easy
      margin-top 30px
    &__picture-wrap
      height 400px
      background-size 75% 70%
    &__picture-img
      width 75%
      height 80%
      top 17%
  .easy
    &__title
      font-size 28px
    &__text
      margin-bottom 30px