@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Medium.woff2") format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Bold.woff2") format('woff2');
}
.hero__nav {
  padding-top: 59px;
  margin-bottom: 127px;
}
.hero__offer {
  height: 65vh;
}
.hero__picture {
  background: url("../img/header/header__picture.jpg") no-repeat right top;
  background-size: 85% 100%;
  width: 55%;
  height: 72vh;
  position: absolute;
  right: 0;
  top: 142px;
}
.hero__video {
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 55%;
  height: 37%;
  display: block;
  background: url("../img/header/header__video.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -20px 60px 220px rgba(0,0,0,0.44);
          box-shadow: -20px 60px 220px rgba(0,0,0,0.44);
}
.hero__video::after {
  z-index: 1;
  content: '';
  display: block;
  background: url("../img/header/header__icon-play.svg");
  width: 65px;
  height: 65px;
}
.nav__logo {
  cursor: pointer;
  padding-top: 5px;
}
.nav__logo:hover {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.nav__logo:not(:hover) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav__search {
  width: 100%;
  position: relative;
  text-align: center;
}
.nav__search-ref {
  cursor: pointer;
}
.nav__search img {
  margin-left: 5%;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav__input-search {
  cursor: pointer;
  display: inline-block;
  width: 1%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 22px;
}
.nav__menu {
  z-index: 5;
  position: relative;
  cursor: pointer;
}
.vh-dependent {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__title {
  font-size: 60px;
  letter-spacing: -0.01em;
  line-height: 1.2em;
}
.offer__text {
  width: 90%;
  margin: 30px 0 56px;
}
.offer__btn {
  width: 189px;
}
.menu-burger {
  opacity: 0;
  position: absolute;
  background-color: rgba(55,55,55,0.9);
  width: 0px;
  height: 0px;
  top: 40px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  padding-top: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 0px;
}
.menu-burger__link {
  display: none;
  padding-left: 7%;
  padding-right: 7%;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: relative;
  letter-spacing: 0.25em;
  font-weight: 500;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  text-shadow: 1px 1px 3px #fff;
}
.menu-burger__link:after {
  content: '';
  opacity: 0;
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0%;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-burger--active .menu-burger__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-burger--active .menu-burger__link:after {
  width: 5%;
}
.menu-burger--active .menu-burger__link:hover {
  color: #fff;
  text-shadow: none;
}
.menu-burger--active .menu-burger__link:hover:after {
  opacity: 1;
  width: 65%;
}
@media (max-width: 1199px) {
  .offer__title {
    font-size: 52px;
  }
}
@media (max-width: 991px) {
  .offer__title {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .hero__offer {
    height: 60%;
  }
  .offer__title {
    font-size: 42px;
    text-align: center;
  }
  .offer__text {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 30px;
    width: 100%;
  }
  .hero__nav {
    margin-bottom: 50px;
  }
  .hero__picture {
    position: relative;
    width: 80%;
    height: 200px;
    top: 0;
    margin-top: 40px;
    margin-left: 10%;
  }
  .hero__video {
    width: 45%;
    height: 50%;
  }
  .hero__video::after {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .vh-dependent {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__search {
    margin-right: -25px;
    text-align: right;
  }
  .nav__search-wrapper {
    margin-top: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 540px) {
  .offer__title {
    font-size: 32px;
  }
  .offer__text {
    font-size: 15px;
  }
  .hero__nav {
    padding-top: 30px;
  }
  .hero__video::after {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
.problems {
  padding-top: 137px;
}
.problems__poster {
  width: 100%;
}
.about__title {
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.about__author {
  background: url("../img/problems/problems__author.jpg") no-repeat left center;
  padding: 7px 0 7px 96px;
  margin-top: 61px;
}
.about__name {
  font-size: 22px;
}
.about__office {
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .about__title {
    font-size: 38px;
  }
  .about__author {
    margin-top: 41px;
  }
}
@media (max-width: 991px) {
  .problems {
    padding-top: 100px;
  }
  .about__title {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .about__text {
    font-size: 16px;
    text-align: justify;
  }
}
@media (max-width: 767px) {
  .problems__about {
    margin-top: 60px;
  }
  .problems__poster {
    width: 76%;
    margin-left: 12%;
  }
  .about__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .problems {
    padding-top: 70px;
  }
  .problems__about {
    margin-top: 40px;
  }
  .author__name {
    font-size: 20px;
  }
  .author__office {
    font-size: 16px;
  }
  .about__title {
    font-size: 28px;
  }
}
.services {
  padding-top: 142px;
}
.services__heading {
  letter-spacing: -1px;
}
.services__list {
  color: #8d8d8d;
  margin-top: 67px;
}
.services__list-left {
  margin-left: 37px;
}
.services__item {
  margin-bottom: 20px;
}
.services__carousel {
  margin-top: 99px;
}
.services__video {
  cursor: pointer;
  position: relative;
}
@media (max-width: 1199px) {
  .services {
    padding-top: 110px;
  }
  .services__heading {
    font-size: 38px;
  }
  .services__carousel {
    margin-top: 70px;
  }
  .owl-theme .owl-nav {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  .services {
    padding-top: 90px;
  }
  .services__heading {
    font-size: 34px;
  }
  .services__carousel {
    margin-top: 40px;
  }
  .services__item {
    font-size: 16px;
  }
  .services__list-left {
    margin-left: 0px;
  }
  .owl-theme .owl-nav {
    margin-top: 30px;
  }
  .owl-carousel__play {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}
@media (max-width: 767px) {
  .services__heading {
    font-size: 30px;
  }
  .services__list {
    margin-top: 40px;
  }
  .services__list-left {
    margin-left: 50px;
  }
  .services__list-right {
    margin-right: 50px;
  }
  .owl-theme .owl-nav {
    margin-top: 20px;
  }
  .owl-theme .owl-nav .owl-prev img,
  .owl-theme .owl-nav .owl-next img {
    width: 45px;
    height: 45px;
  }
  .owl-carousel__play {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media (max-width: 575px) {
  .services {
    padding-top: 50px;
  }
  .services__heading {
    font-size: 28px;
  }
  .services__carousel {
    margin-top: 30px;
  }
  .services__list {
    margin-top: 30px;
  }
  .services__list-left {
    margin-left: 20px;
  }
  .services__list-right {
    margin-right: 20px;
  }
  .serv-list_left {
    margin-left: 0;
  }
  .owl-theme .owl-nav {
    margin-top: 10px;
  }
  .owl-theme .owl-nav .owl-prev img,
  .owl-theme .owl-nav .owl-next img {
    width: 40px;
    height: 40px;
  }
}
.result {
  padding-top: 181px;
}
.result__easy {
  margin-left: 65px;
}
.result__picture-wrap {
  width: 50%;
  height: 540px;
  background: url("../img/result/result__picture-bg.jpg") no-repeat left top;
  background-size: 80% 75%;
  position: absolute;
  left: 0;
}
.result__picture-img {
  display: block;
  width: 350px;
  height: 453px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 30px 80px 180px rgba(0,0,0,0.25);
          box-shadow: 30px 80px 180px rgba(0,0,0,0.25);
}
.easy {
  padding-top: 30px;
}
.easy__title {
  margin-bottom: 30px;
}
.easy__text {
  margin-bottom: 52px;
}
.easy__point {
  padding-left: 83px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.easy__point-first {
  background: url("../img/result/result__icon-100.svg") no-repeat left center;
}
.easy__point-second {
  background: url("../img/result/result__icon-bg.svg") no-repeat left center;
}
@media (max-width: 1199px) {
  .result {
    padding-top: 161px;
  }
  .easy__title {
    font-size: 38px;
  }
}
@media (max-width: 991px) {
  .result {
    padding-top: 121px;
  }
  .easy__title {
    font-size: 34px;
  }
  .easy__text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .result {
    padding-top: 90px;
  }
  .result__picture-wrap {
    position: relative;
    width: 100%;
  }
  .result__easy {
    margin-left: 0;
    margin-top: 60px;
  }
  .easy__title {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .result__easy {
    margin-top: 30px;
  }
  .result__picture-wrap {
    height: 400px;
    background-size: 75% 70%;
  }
  .result__picture-img {
    width: 75%;
    height: 80%;
    top: 17%;
  }
  .easy__title {
    font-size: 28px;
  }
  .easy__text {
    margin-bottom: 30px;
  }
}
.works {
  padding-top: 263px;
}
.works__title {
  letter-spacing: -1px;
}
.works__wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 108px;
}
.works__tabs {
  margin-left: 60px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 70px;
}
.works__tabs-item a {
  font-weight: 500;
  text-decoration: none;
  color: #8d8d8d;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.works__tabs-item a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0%;
  background-color: rgba(54,36,240,0.341);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.works__tabs-item a:hover {
  color: #1434e1;
}
.works__tabs-item .mixitup-control-active {
  color: #1434e1;
}
.works__item {
  margin-bottom: 30px;
  margin-right: 1%;
  margin-left: 1%;
}
.works__item:hover {
  -webkit-box-shadow: -30px 80px 200px rgba(0,0,0,0.25);
          box-shadow: -30px 80px 200px rgba(0,0,0,0.25);
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.works__item:hover:after {
  content: '';
  display: block;
  background: url("../img/header/header__icon-play.svg");
  width: 65px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
.works__about {
  margin-top: 20px;
}
.works__btn {
  width: 222px;
}
@media (max-width: 1199px) {
  .works {
    padding-top: 190px;
  }
  .works__wrap {
    margin-top: 80px;
  }
  .works__title {
    font-size: 38px;
  }
  .works__tabs {
    margin-left: 0;
    margin-top: 40px;
  }
  .works__item {
    width: 30%;
  }
  .works__item img {
    display: block;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .works {
    padding-top: 150px;
  }
  .works__wrap {
    margin-top: 60px;
  }
  .works__title {
    font-size: 34px;
  }
  .works__item:hover:after {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .works__text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .works {
    padding-top: 80px;
  }
  .works__wrap {
    margin-top: 40px;
  }
  .works__title {
    font-size: 30px;
  }
  .works__item:hover:after {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .works__tabs {
    margin-top: 20px;
  }
  .works__about {
    margin-top: 0px;
  }
}
@media (max-width: 575px) {
  .works__wrap {
    -webkit-box-pack: center !important /* переопределить свойство bootsrtap для отображения по центру */;
        -ms-flex-pack: center !important /* переопределить свойство bootsrtap для отображения по центру */;
            justify-content: center !important /* переопределить свойство bootsrtap для отображения по центру */;
  }
  .works__title {
    font-size: 28px;
    text-align: center;
  }
  .works__item {
    width: 80%;
    margin-bottom: 40px;
  }
  .works__item:hover:after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .works__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__tabs-item {
    margin-bottom: 25px;
  }
}
.testimonials {
  padding-top: 233px;
}
.testimonials__title {
  letter-spacing: -1px;
  padding-top: 33px;
}
.testimonials__contributor {
  margin-top: 121px;
}
.testimonials__contributor__title {
  margin-bottom: 10px;
}
.testimonials__contributor_photo {
  width: 100%;
}
.testimonials__carousel .owl-nav {
  margin-top: -50px;
  position: relative;
}
.contributor__title {
  font-size: 22px;
}
.contributor__post {
  margin-top: 13px;
}
@media (max-width: 1200px) {
  .testimonials {
    padding-top: 180px;
  }
  .testimonials__title {
    font-size: 38px;
  }
  .testimonials__contributor {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .testimonials {
    padding-top: 100px;
  }
  .testimonials__title {
    padding-top: 0px;
    font-size: 28px;
  }
  .testimonials__carousel .owl-nav {
    margin-top: -50px;
  }
  .testimonials__contributor {
    margin-top: 40px;
  }
  .contributor__title {
    font-size: 18px;
  }
  .contributor__post {
    font-size: 16px;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .testimonials__title {
    font-size: 30px;
  }
  .testimonials__carousel .owl-nav {
    margin-top: -45px;
  }
}
@media (max-width: 575px) {
  .testimonials {
    padding-top: 80px;
  }
  .testimonials__title {
    font-size: 28px;
  }
  .testimonials__carousel .owl-nav {
    margin-top: -40px;
  }
}
.clients {
  padding-top: 286px;
  padding-bottom: 137px;
}
.clients__row {
  margin-top: 82px;
}
.clients .clients__label {
  margin-bottom: 17px;
  color: #222;
}
.clients__text {
  line-height: 28px;
}
.clients__item:hover {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.clients__item:not(:hover) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 1199px) {
  .clients {
    padding-top: 256px;
  }
  .clients__title {
    font-size: 38px;
  }
  .clients__text {
    line-height: 25px;
  }
}
@media (max-width: 991px) {
  .clients {
    padding-top: 200px;
  }
  .clients__title {
    font-size: 34px;
  }
  .clients__text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .clients {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .clients__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .clients__row {
    margin-top: 40px;
  }
  .clients__item {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media (max-width: 575px) {
  .clients {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .clients__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clients__item {
    margin-bottom: 70px;
    text-align: center;
  }
  .clients .clients__label {
    font-size: 12px;
  }
  .clients__title {
    font-size: 28px;
  }
  .clients__text {
    margin-bottom: 30px;
  }
}
.footer {
  height: 240px;
  background: #515151;
}
.footer__logo {
  margin-top: 109px;
  margin-bottom: 109px;
}
.footer__logo:hover {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.footer__logo:not(:hover) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body {
  font-family: 'Fira Sans', sans-serif;
  color: #8d8d8d;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
  color: #151515;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h2 {
  font-size: 40px;
}
ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
#search {
  border: 1px solid #888;
  width: 250px;
  float: right;
}
.owl-theme .owl-nav {
  text-align: left;
  margin-top: 50px;
}
.owl-prev,
.owl-next {
  margin: 0 !important;
}
.owl-prev img,
.owl-next img {
  vertical-align: middle;
}
.owl-prev {
  margin-right: 25px !important;
}
.owl-carousel__play {
  display: block;
  background: url("../img/header/header__icon-play.svg");
  width: 65px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer;
}
.main-wrapper {
  max-width: 1360px;
  margin: auto;
  position: relative;
}
.be-static {
  position: static;
}
.video-effect:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.video-effect:hover:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgba(0,0,0,0.5);
}
.label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.25em;
  color: #8f8f8f;
  margin-bottom: 40px;
  font-weight: 500;
}
a.btn {
  height: 50px;
  background: #4737ff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 26px;
  border: none;
  border-radius: 0;
  display: inline-block;
  letter-spacing: 0.3em;
  line-height: 1.8;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}
a.btn:before,
a.btn:after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a.btn:before {
  top: 0;
  left: 0;
  right: -50px;
  border-right: 50px solid transparent;
  border-bottom: 50px solid rgba(254,254,254,0.2);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
a.btn:after {
  top: 0;
  right: 0;
  left: -50px;
  border-left: 50px solid transparent;
  border-top: 50px solid rgba(254,254,254,0.2);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
a.btn:hover {
  color: #fff;
}
a.btn:hover:before {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
a.btn:hover:after {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media (max-width: 767px) {
  a.btn {
    height: 43px;
    font-size: 12px;
    line-height: 1.5;
  }
  .label {
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .label {
    font-size: 12px;
  }
}
